<div class="stats-day">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Date de mise à
                jour: {{(dailyStats | async)?.time | date: 'dd LLLL yyyy à hh:mm' : '': 'fr-FR'}}</mat-card-title>
        </mat-card-header>
    </mat-card>
</div>
<div class="daily-stats">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Nombre de cas</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <dl>
                <dt class="active-cases">Actuels</dt>
                <dd class="active-cases">{{(dailyStats | async)?.cases.active | number: '1.0-3' : 'fr-FR'}}
                    <span class="new-data">({{(dailyStats | async)?.cases.new}})</span>
                </dd>

                <dt class="critical-cases">Critiques</dt>
                <dd class="critical-cases">{{(dailyStats|async)?.cases.critical| number: '1.0-3' : 'fr-FR'}}</dd>
                <dt class="recovered-cases">Gueris</dt>
                <dd class="recovered-cases">{{(dailyStats|async)?.cases.recovered| number: '1.0-3' : 'fr-FR'}}</dd>
            </dl>
        </mat-card-content>
    </mat-card>

    <mat-card>
        <mat-card-header>
            <mat-card-title>Nombre de décès</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <dl>
                <dt class="deaths">Total</dt>
                <dd class="deaths">{{(dailyStats | async)?.deaths.total| number: '1.0-3' : 'fr-FR'}}
                    <span class="new-data">(+{{(dailyStats | async)?.deaths.new| number: '1.0-3' : 'fr-FR'}})</span>
                </dd>
            </dl>
        </mat-card-content>
    </mat-card>

    <mat-card>
        <mat-card-header>
            <mat-card-title>Nombre de test</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <dl>
                <dt class="tests">Total</dt>
                <dd class="tests">{{(dailyStats | async)?.tests.total| number: '1.0-3' : 'fr-FR'}}</dd>
            </dl>
        </mat-card-content>
    </mat-card>
</div>
