.country-selector {
  margin: 0 auto;
  display: table;
}

.stats-day {
  padding: 1rem;

  .update-at {
    &.mobile {
      display: block;
      width: 100%;
    }
  }
}

.daily-stats {
  padding: 0 1rem;

  mat-card {
    min-width: 33%;
    margin-bottom: 0.8rem;

    dt {
      margin: 0.4rem 0;

      &.critical-cases {
        color: rgb(153, 153, 153);
      }

      &.deaths {
        color: rgb(202, 45, 36);
      }

      &.recovered-cases {
        color: rgb(112, 168, 0);
      }

      &.tests {
        color: rgb(255, 217, 100);
      }
    }

    dd {
      font-size: 2rem;

      &.critical-cases {
        color: rgb(153, 153, 153);
      }

      &.deaths {
        color: rgb(202, 45, 36);
      }

      &.recovered-cases {
        color: rgb(112, 168, 0);
      }

      &.tests {
        color: rgb(255, 217, 100);
      }

      .new-data {
        font-weight: bolder;
      }

    }
  }
}

hr {
  margin: 2rem;
}

.stats-table {
  height: 400px;
  overflow: auto;
  width: 90%;
  margin: auto;

  table {
    width: 100%;
  }
}
