<section>
    <mat-form-field class="country-selector">
        <mat-label>Select a country</mat-label>
        <mat-select name="country" id="type" (valueChange)="onCountrySelected($event)"
                    [value]="statService.franceKey">
            <mat-option></mat-option>
            <mat-option *ngFor="let country of statService.availableCountries"
                        [value]="country">{{country}}</mat-option>
        </mat-select>
    </mat-form-field>
</section>


<section class="stats-day">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                Date de mise à jour:
                <span class="update-at"
                      [ngClass]="{'mobile': deviceDetector.isMobile()}">{{dailyStats?.time | date: 'dd LLLL yyyy à HH\'h\'mm' : '': 'fr-FR'}}</span>
            </mat-card-title>
        </mat-card-header>
    </mat-card>
</section>
<section class="daily-stats">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                <mat-icon aria-hidden="false" aria-label="Example home icon">group</mat-icon>
                Nombre de cas
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <dl>
                <dt class="active-cases">
                    Actuels
                </dt>
                <dd class="active-cases">{{dailyStats?.cases.active | number: '1.0-3' : 'fr-FR'}}
                    <span class="new-data">({{dailyStats?.cases.new}})</span>
                </dd>

                <dt class="critical-cases">Critiques</dt>
                <dd class="critical-cases">{{dailyStats?.cases.critical| number: '1.0-3' : 'fr-FR'}}</dd>
                <dt class="recovered-cases">Gueris</dt>
                <dd class="recovered-cases">{{dailyStats?.cases.recovered| number: '1.0-3' : 'fr-FR'}}</dd>
            </dl>
        </mat-card-content>
    </mat-card>

    <mat-card>
        <mat-card-header>
            <mat-card-title>
                <mat-icon>airline_seat_individual_suite</mat-icon>
                Nombre de décès
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <dl>
                <dt class="deaths">Total</dt>
                <dd class="deaths">{{dailyStats?.deaths.total| number: '1.0-3' : 'fr-FR'}}
                    <span class="new-data"
                          *ngIf="dailyStats?.deaths.new">(+{{dailyStats?.deaths.new| number: '1.0-3' : 'fr-FR'}})</span>
                </dd>
            </dl>
        </mat-card-content>
    </mat-card>

    <mat-card>
        <mat-card-header>
            <mat-card-title>
                <mat-icon>flash_on</mat-icon>
                Nombre de test
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <dl>
                <dt class="tests">Total</dt>
                <dd class="tests">{{dailyStats?.tests.total| number: '1.0-3' : 'fr-FR'}}</dd>
            </dl>
        </mat-card-content>
    </mat-card>
</section>
